.parentAssignTasksContainer {
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.assignTasksContainer {
    /* border: 2px solid red; */
    height: 85%;
    display: flex;
}

.assignTasksContainer1 {
    /* border: 2px solid red; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
}

.assignTasksContainer2 {
    /* border: 2px solid red; */
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.addTeamMember {
    display: flex;
    justify-content: space-between;
}

.addTeamMember input {
    width: 80%;
}

.taskAssigningContainer {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.taskAssigningContainerTitle {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
}

.taskAssigningContainerLists {
    border: 2px solid black;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskAssigningContainerLists ol {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.taskAssigningContainerInputs {
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

.taskAssigningContainerInputs1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}



/* button css */

.button-34 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

.button-35 {
    background: red;
    border-radius: 999px;
    box-shadow: red 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}


.button-36 {
    background: green;
    border-radius: 999px;
    box-shadow: green 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}

.button-724 {
    background: green;
    box-sizing: border-box;
    width: 20%;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    word-break: break-word;
    border: 0;
}


/* DarkMode */

.parentAssignTasksContainer-darkMode {
    background-color: #393c3d;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.taskAssigningContainerTitle-darkMode {
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
}

.taskAssigningContainerLists-darkMode {
    border: 2px solid white;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskAssigningContainerLists-darkMode ol {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.taskAssigningContainerInputs-darkMode {
    border: 2px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}