/* LightMode css */
.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-top-right-radius: 25px;
  margin-bottom: 25px;
}

.heading {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 900;
}

/* DarkMode css */
.heading-darkMode {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 900;
}