.parentProfileContainer {
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.profileContainer {
  background-image: url("https://images.unsplash.com/photo-1497366811353-6870744d04b2?q=80&w=2301&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;

}


/* DarkMode css */
.parentProfileContainer-darkMode {
  background-color: #393c3d;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.profileContainer-darkMode {
  background-image: url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%;

}